@import "base";
@import "susy";
@import "breakpoint";



#topSection{
	 
}
.section{ 
.sectionContainer{
			@include columns(16);
			margin-left: columns(5); 


}
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: box;
    width: 100%;

.fp-tableCell {
    display: box;
    vertical-align: baseline;
    width: 100%;
    height: 100%;
}

}


.categoryList{
	float: right;
}

#menu{
	@include columns(4);
}

#fp-nav {
    position: fixed;
    z-index: 100;
    // margin-top: none !important;
    // top: 5%;
    opacity: 1;
}
.categoryList{
	display: inline-flex;
	float: right;
	margin: 1em;
	.menuItem{
		margin: 1em;
	}
}

.menuItem{
	img{
		max-height: 100px;
		margin-top: 2em;
	}
}

.projectList{
	@include columns(4);
	float: right;

}
.imageContainer{
	@include columns(16);

}                   

.projectImageContainer{
	img{
		max-height: 30rem;
		max-width: 30rem;
		position:absolute;      
	}

}
.resumeDiv{

		@include columns(12);
		

	}
.flex-control-nav{
	width: columns(5);
		height: columns(5);

}

#bgVid{

position: relative;
right: 0;
bottom: 0;
top: 0;
right: 0;
width: 100%;
height: 100%;
background-size: 100% 100%;  
background-position: center center;
background-size: contain;
object-fit: cover;
z-index: 0;
}

.videoOverlay{
position: absolute;
z-index: 4;
vertical-align: middle;
margin: 25%; 
left: 0;
top: 0;
height: 100%;

}



