<% category = @category %>

		<div class = "sectionContainer ">
			<h1><%= category.name %></h1>
			<p><%= category.description %></p>

			
			 <div class = "imageContainer">

			 	<div class = "flexSlider">
		    <!-- Slides Container -->
		    		      			 	<% category.projects.visible.each do |project|%>
		    		      			 	<%#= link_to "link text...", project_path(@project) %>

		    <ul class = "slides">
		    <!-- <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 600px;"> -->
		    <!-- <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px;"> -->
		    							  <!-- <div><img u="image" src="image1.jpg" /></div> -->

		      			 	<%# @project = project %>
		      			 	<% project.project_images.each do |metaImage|%>
		        	<li class = "projectImageContainer"><%= image_tag metaImage.image.url %></li>
<!-- 		        <div><img u="image" src="image2.jpg" /></div>
 -->		        <%end%>

		    <!-- </div> -->
		    </ul>
		     			        <%end%>

				</div>
			 				 	<%#= image_tag("logo_large_brown.svg", u: "image") %>

			 </div>

			 <ul class = "projectList">
			 	<% category.projects.visible.each do |project|%>
			 	<li><p><%= project.title %></p></li>
			 	<%end%>
			</ul>



			</div>
