		<div class = "sectionContainer ">
			<h1>Category name </h1>
			<p>CategoryDescription</p>

			<ul>
			</ul>
			 <div class = "imageContainer">
			 	<p>this is a picture</p>
			 </div>



			</div>
