<% category = @category %>

		<div class = "sectionContainer ">
			<h1><%= category.name %></h1>
			<p><%= category.description %></p>

			
			 <div class = "imageContainer">
					 	<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
					 	<!-- <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;"> -->
		    <!-- Slides Container -->
		    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 600px;">
		    <!-- <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px;"> -->
		    							  <!-- <div><img u="image" src="image1.jpg" /></div> -->

		      			 	<% category.projects.visible.each do |project|%>
		      			 	<%# @project = project %>
		      			 	<% project.project_images.each do |metaImage|%>
		        	<div class = "projectImageContainer"><%= image_tag metaImage.image.url %></div>
<!-- 		        <div><img u="image" src="image2.jpg" /></div>
 -->		        <%end%>
 			        <%end%>

		    </div>
				</div>
			 				 	<%#= image_tag("logo_large_brown.svg", u: "image") %>

			 </div>

			 <ul class = "projectList">
			 	<% category.projects.visible.each do |project|%>
			 	<li><p><%= project.title %></p></li>
			 	<%end%>
			</ul>



			</div>
