<% category = @category %>

		<div class = "sectionContainer ">
			<h1><%= category.name %></h1>
			<p><%= category.description %></p>

			
			 <div class = "imageContainer">

			 	<div class = "flexSlider">
		    <!-- Slides Container -->
		    		      			 	<% category.projects.initial.each do |project|%>
		    		      			 	

		    <ul class = "slides">
		   <%#= project.title %>
		      			 	<% project.project_images.each do |metaImage|%>
		        	<li class = "projectImageContainer"><%= image_tag metaImage.image.url %></li>
		        <%end%>

		    </ul>
		     			        <%end%>

				</div>

			 </div>

			 <ul class = "projectList">
			 	<% category.projects.visible.each do |project|%>
			 	<% @project = project %>
<li>		    	<%= link_to "#{project.title}", project_path(@project, format: :js), remote: true %>
			 	</li>			 	
			 	<%end%>
			</ul>



			</div>
