<% category = @category %>

		<div class = "sectionContainer ">
			<h1><%= category.name %></h1>
			<p><%= category.description %></p>

			
			 <div class = "imageContainer">
			 				 	<%= image_tag("logo_large_brown.svg") %>

			 </div>

			 <ul class = "projectList">
			 	<% category.projects.visible.each do |project|%>
			 	<li><p><%= project.title %></p></li>
			 	<%end%>
			</ul>



			</div>
