		<div class = "sectionContainer ">
			<h1>Category name </h1>
			<p>CategoryDescription</p>

			
			 <div class = "imageContainer">
			 	<p>this is a picture</p>
			 				 	<%= image_tag("logo_large_brown.svg") %>

			 </div>

			 <ul class = "projectList">
			 	<% @projects.each do |project|%>
			 	<li><p><%= project.title %></p></li>
			 	<%end%>
			</ul>



			</div>
