<!-- <header class= "home-head"> Jason Scott Rosen || Portfolio </header>
 -->
 <div class = "topNav">
<ul class = "menu" id = "fp-nav">
-
-
-
-
-
-
	<li class = "menuItem" data-menuanchor="top"> 		<a href="#top"><%= image_tag("logo_large_brown.svg", size: 100)%></a> </li>
	<!-- <li class = "menuItem" data-menuanchor="about"> 	<a href="#about"><p>ABOUT	</p></a>	 </li> -->
	<li class = "menuItem" data-menuanchor="projects"> <a href="#projects"><p>PROJECTS </p></a>	 </li>
	<li class = "menuItem" data-menuanchor="resume"> 	<a href="#resume"><p>RESUME   </p>  </a>	 </li>
</ul>
</div>
