<div class = "projectContainer" id = "projectContainer">
 <div class = "imageContainer">
 </div>

<div class = "projectDescription">
	<p>this is the project description section and will extend a lot of lines down the right edge of the screen</p>
</div>
</div>