

	<div class="section" data-anchor="top" >

<div class "sectionContainer">
		<%= image_tag("site_bg_0.jpg")%>

	</div>
		
	</div>

	<div class="section" data-anchor="about" >
<div class = "sectionContainer">
		<h1>about</h1>
</div>

	</div>
	

	<div class="section" data-anchor="projects">

			<ul class = "projectList fp-slidesNav" id ="homeProjectList">
					<% @categories.each do |category| %>
					<li class = "menuItem"> <a href = #> <%=category.name.upcase%> </a> </li>
					<% end %>
				</ul>
				
				<% @categories.each do |category| %>
				<div class="slide" data-anchor="slide<%=category.id%>" >
		
							<%= render "categories" %>
				</div>
							<% end %>
		
	</div>


	<div class="section" id ="Résumé/CV" data-anchor="resume" >
		<div class = "sectionContainer">
			<h1>Résumé/CV</h1>
		</div>
	</div>



