

	<div class="section" data-anchor="top" >
				<%= image_tag("site_bg_0.jpg")%>

<%#= video_tag("Love OutofBounds-SD.mp4", controls: false, muted: true, autoplay: true) %>

<div class "sectionContainer">
		
	</div>
		
	</div>

	<div class="section" data-anchor="about" >
<div class = "sectionContainer">
		<h1>about</h1>
		<p>Ebullient, frothy, gold dipped.

Jason Scott Rosen is an experience designer, concept assembler, and artist. Though he has lived in many places, he considers Austin, Texas and New York, New York home. 

He has performed as an art director, content and identity strategist, executive director, events producer for individuals, organizations, and corporations of every scale.

Desiring the crossflow between emergent technologies with material and visual cultures, he presently is pursuing a Masters as a Researcher at NYU's Interactive Telecommunications Program. 

He loves cycling, architectural history and theory, dancing, and believing in a better tomorrow through partnerships with loved ones, both known and yet to be discovered.

Reach out and say hello.
</p>
</div>

	</div>
	

	<div class="section" data-anchor="projects">

			<ul class = "categoryList fp-slidesNav" id ="homeProjectList">
					<% @categories.visible.each do |category| %>
					<li class = "menuItem"> <a href = #> <%=category.name.upcase%> </a> </li>
					<% end %>
				</ul>
				
				<% @categories.visible.each do |category| %>
				<% @category = category %>

				<div class="slide" data-anchor="slide<%=category.id%>" >
		
							<%= render "categories", object: category %>
				</div>
							<% end %>
		
	</div>


	<div class="section" id ="Résumé/CV" data-anchor="resume" >
		<div class = "sectionContainer">
			<h1>Résumé/CV</h1>
		</div>
	</div>



