<div id="fullpage">
	<div class="section" id = "splash" data-anchor="slide1">

		<h1>Splash/Home</h1>
		<p>Find me in app/views/portfolio/index.html.erb</p>
		Some section

	</div>

	<div class="section" id = "about" data-anchor="slide2">
		about


	</div>
	

	<div class="section" id = "projects" data-anchor="slide3">
		

		<div class="slide" > Category 1 

<div>			HERE IS SOME CONTENT
</div>

		</div>
		<div class="slide"> Category 2 

<div>			HERE IS SOME CONTENT
</div>

		</div>

		<div class="slide"> Category 3 

			HERE IS SOME CONTENT


		</div>

		<div class="slide"> Category 4 

			HERE IS SOME CONTENT


		</div>
	</div>


	<div class="section" id ="Résumé/CV" data-anchor="slide4" >
		Résumé/CV
	</div>



</div>