// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fullpage{
	.section, .fp-section{
		padding: none;

	background-color: #ffffea;
}

#splash{
	img{ 
		max-height: 90%;
		max-width: 100%;
	}
}
}