// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fullpage {
    .section, .fp-section, .fp-slides, .fp-slidesContainer, .slide{
        padding: none;
        background-color: #ffffea !important;
    }
    #splash {
        img {
            max-height: 90%;
            max-width: 100%;
        }
    }

    

}

body, p, ol, ul, td{

    font-size: 1em;
    color: #685710;
}

h1{
    font-size: 1em;
}

#topSection{

background-image: url("site_bg_1.jpg");
    background-size:    cover,cover;
    background-repeat: no-repeat;
    //background-position:  bottom center, bottom center;

    