<div class = "topNav">
<ul class = "menu" id = "menu">
	<li class = "menuItem"data-menuanchor="top"> <p>top</p> </li>
	<li class = "menuItem"data-menuanchor="about"> <p>about</p> </li>
	<li class = "menuItem"data-menuanchor="projects"> <p>Project</p> </li>
	<li class = "menuItem"data-menuanchor="resume"> <p>Resume</p> </li>
</ul>
</div>
