<header class= "home-head"> Jason Scott Rosen || Portfolio 
<div class = "topNav">
<ul class = "menu" id = "menu">
	<li class = "menuItem"> top </li>
	<li class = "menuItem"> about </li>
	<li class = "menuItem"> Project </li>
	<li class = "menuItem"> Resume </li>
</ul>
</div>
</header>